#printorderarea{
    font-size: 12px;
    max-width:370px;
}
#printBillarea{
    font-size: 12px;
    max-width:370px;
}

#printPayment{
    font-size: 12px;
    .table th, .table td {
        border: 1px solid rgb(117, 117, 117) !important;
    }
    .table th {
        border-right: 1px solid #fff !important;
    }
    .btn {
        border-radius: 0px;
    }
}
.tax-text{
    font-size: 10px;
}