<div class="menu">
    <div class="main-menu">
        <div class="scroll">
            <ul class="list-unstyled">
                <li routerLink="/home/dashboard">
                    <a href="javascript:void(0)">
                        <i class="simple-icon-pie-chart"></i>
                        <span>Dashboards</span>
                    </a>
                </li>
                <li routerLink="/home/pos/0">
                    <a href="javascript:void(0)">
                        <i class="iconsminds-shop-4"></i> POS
                    </a>
                </li>
                <li routerLink="/home/product">
                    <a href="javascript:void(0)">
                        <i class="simple-icon-folder"></i> Products
                    </a>
                </li>

                <li>
                    <a href="#sales">
                        <i class="glyph-icon iconsminds-box-close"></i> Sales
                    </a>
                </li>
                <li>
                    <a href="#people">
                        <i class="glyph-icon simple-icon-people"></i> People
                    </a>
                </li>
            </ul>
        </div>
    </div>

    <div class="sub-menu">
        <div class="scroll">
            <ul class="list-unstyled" data-link="sales">
                <li routerLink="/home/sales">
                    <a href="javascript:void(0)">
                        <i class="glyph-icon iconsminds-box-close"></i> <span class="d-inline-block">List Sales</span>
                    </a>
                </li>
                <li routerLink="/home/sales-draft">
                    <a href="javascript:void(0)">
                        <i class="glyph-icon iconsminds-box-close"></i> <span class="d-inline-block">List Opened Bills</span>
                    </a>
                </li>
                <li routerLink="/home/return-of-investment">
                    <a href="javascript:void(0)">
                        <i class="glyph-icon iconsminds-box-close"></i> <span class="d-inline-block">Returns</span>
                    </a>
                </li>
            </ul>

            <ul class="list-unstyled" data-link="people">
                <li routerLink="/home/all-customer">
                    <a href="javascript:void(0)">
                        <i class="glyph-icon simple-icon-people"></i> <span class="d-inline-block">Customer</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>