.danger-text {
    color: red;
    padding: 5px 0px;
    font-size: 12px;
}
.main-screen-margin{
    margin: 0px !important;
    margin-top: 75px !important;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
